@import url("./reset.css");
header {
  position: fixed;
  height: 132px;
  width: 100%;
}
header .header-pc article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}
header .header-pc article .main-title {
  position: relative;
  width: 100%;
  height: 54px;
  margin: 16px 0 32px 0;
  align-items: center;
  color: #EAB838;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-family: Noto Serif KR;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-pc article .main-title p a {
  color: #EAB838;
}
header .header-pc article .main-title p img {
  position: absolute;
  top: 0;
  right: 20%;
  padding: 13px;
  vertical-align: top;
}
header .header-pc article .main-menu nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  vertical-align: middle;
  padding: 0 auto;
  padding-bottom: 8px;
}
header .header-pc article .main-menu nav a {
  margin: 0 60px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
}

.header-m {
  display: none;
}

.banner-m {
  display: none;
}

.banner {
  overflow: hidden;
}
.banner figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner figure figcaption {
  height: 138px;
  padding: 0 370px;
  position: absolute;
  top: 48%;
  left: 0;
  display: flex;
  justify-content: inline-flex;
  flex-direction: column;
}
.banner figure figcaption :nth-child(1) {
  height: 24px;
  color: #FFF;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: ABeeZee;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.16px;
}
.banner figure figcaption :nth-child(2) {
  height: 54px;
  margin: 10px 0 40px;
  color: #FFF;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: Noto Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 54px */
  letter-spacing: -0.36px;
}
.banner figure figcaption :nth-child(3) {
  width: 428px;
  height: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.banner figure figcaption :nth-child(3) progress {
  width: 400px;
  height: 6px;
  background: rgba(217, 217, 217, 0.5);
}
.banner figure figcaption :nth-child(3) progress::-webkit-progress-value {
  background: #D9D9D9;
}
.banner figure figcaption :nth-child(3) img {
  position: absolute;
  vertical-align: top;
  top: -110%;
  right: 0;
  width: 8px;
  height: 10px;
}

.footer-m {
  display: none;
}

footer {
  height: 434px;
  width: 100%;
}
footer .footer-pc article .top {
  background: #000;
  height: 354px;
  padding: 0 370px;
  display: flex;
  justify-content: space-between;
  gap: 25%;
}
footer .footer-pc article .top :nth-child(1) .company {
  margin: 40px 0 24px;
  color: #FFF;
  font-family: Noto Serif KR;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.28px;
}
footer .footer-pc article .top :nth-child(1) .intro {
  color: #B2B3B9;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.16px;
}
footer .footer-pc article .top :nth-child(1) .intro span {
  font-family: Noto Sans KR;
  font-weight: 700;
}
footer .footer-pc article .top :nth-child(2) {
  font-family: Noto Sans KR;
  font-size: 1rem;
  font-style: normal;
  line-height: 32px;
}
footer .footer-pc article .top :nth-child(2) :nth-child(1) {
  margin: 40px 0px 10px;
  height: 32px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: -0.16px;
}
footer .footer-pc article .top :nth-child(2) :nth-child(2) {
  color: #EAB838;
  font-family: Noto Sans KR;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.24px;
}
footer .footer-pc article .top :nth-child(2) :nth-child(3) {
  margin: 24px 0 32px;
  color: #B2B3B9;
  font-style: normal;
  font-weight: 400;
}
footer .footer-pc article .top :nth-child(2) :nth-child(4) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
}
footer .footer-pc article .top :nth-child(2) :nth-child(4) img {
  background: #000;
  margin: auto;
  display: block;
  width: 48px;
  height: 48px;
}
footer .footer-pc article .bottom {
  background: #3F4150;
  height: 80px;
  padding: 24px 370px;
}
footer .footer-pc article .bottom div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  color: #B2B3B9;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.16px;
}
footer .footer-pc article .bottom div a {
  color: #B2B3B9;
}

@media screen and (max-width: 375px) {
  .header-pc {
    display: none;
  }
  .header-m {
    display: block;
    padding: 16px 20px;
    position: fixed;
    height: 47px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Noto Serif KR;
    font-style: normal;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .header-m img {
    cursor: pointer;
    padding: 0 3px;
  }
  .header-m :nth-child(1) img {
    width: 100%;
  }
  .header-m :nth-child(2) .home {
    color: #EAB838;
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
  }
  .header-m .toggle nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 65%;
    height: 100%;
    font-weight: normal;
    background: #FFF;
    transform: translateX(-100%);
    transition: 1s;
    text-align: start;
  }
  .header-m .toggle .menu {
    padding: 10px;
    color: #EAB838;
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
    height: 47px;
    border-bottom: 1px solid #E0E2E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-m .toggle .menu :nth-child(1) {
    padding-left: 7px;
  }
  .header-m .toggle .menu :nth-child(2) img {
    width: 100%;
    margin: 0;
    display: block;
  }
  .header-m .toggle .sign {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 84px;
    background: #000000;
  }
  .header-m .toggle .sign div {
    padding: 14px 20px;
  }
  .header-m .toggle .sign div :nth-child(1) {
    color: #FFF;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
    margin-bottom: 14px;
  }
  .header-m .toggle .sign div :nth-child(2) {
    color: #FFF;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
  }
  .header-m .toggle li {
    padding: 14px 20px;
    height: 50px;
    cursor: pointer;
    color: #000;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.16px;
  }
  .header-m .toggle nav.active {
    transform: translateX(0%);
  }
  .banner {
    display: none;
  }
  .banner-m {
    display: block;
  }
  .banner-m figure {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-pc {
    display: none;
  }
  .footer-m {
    display: block;
    background: #000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-m :nth-child(1) {
    color: #FFF;
    font-family: Noto Serif KR;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.14px;
  }
  .footer-m :nth-child(2) span {
    color: #B2B3B9;
  }
  .footer-m :nth-child(2) a {
    color: #B2B3B9;
    font-family: Inter;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.12px;
  }
}
main .wlist {
  background: #FFF;
  padding-bottom: 60px;
}
main .blist {
  background: #F7F8FA;
  padding-bottom: 60px;
}
main .slist {
  background: #FFF;
  padding-bottom: 60px;
}
main .ylist {
  background: #F7F8FA;
  padding-bottom: 60px;
}
main .wine {
  margin: 80px 370px;
  color: #000;
  font-style: normal;
}
main .wine .cate-name {
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -1.4px;
}
main .wine .more {
  margin-bottom: 41px;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
main .wine .more span {
  font-size: 1rem;
  color: #BF7D2C;
}
main .beer {
  margin: 0px 370px;
  padding-top: 80px;
  color: #000;
  font-style: normal;
}
main .beer .cate-name {
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -1.4px;
}
main .beer .more {
  margin-bottom: 41px;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
main .beer .more span {
  font-size: 1rem;
  color: #BF7D2C;
}
main .soju {
  margin: 80px 370px;
  color: #000;
  font-style: normal;
}
main .soju .cate-name {
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -1.4px;
}
main .soju .more {
  margin-bottom: 41px;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
main .soju .more span {
  font-size: 1rem;
  color: #BF7D2C;
}
main .whisky {
  margin: 0px 370px;
  padding-top: 80px;
  color: #000;
  font-style: normal;
}
main .whisky .cate-name {
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -1.4px;
}
main .whisky .more {
  margin-bottom: 41px;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
main .whisky .more span {
  font-size: 1rem;
  color: #BF7D2C;
}
main .swiper {
  overflow: hidden;
}
main .swiper .swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .swiper .swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  margin: 0;
  cursor: pointer;
  padding: 20px;
  border: 1px solid #E0E2E7;
  font-family: Inter;
  font-style: normal;
  line-height: normal;
}
main .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 16px;
}
main .swiper .swiper-wrapper .swiper-slide figcaption :nth-child(1) {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: -0.7px;
  margin-bottom: 8px;
}
main .swiper .swiper-wrapper .swiper-slide figcaption :nth-child(2) {
  color: #000;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.9px;
  margin-bottom: 33px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .swiper .swiper-wrapper .swiper-slide figcaption :nth-child(3) :nth-child(1) {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-right: 10px;
}
main .swiper .swiper-wrapper .swiper-slide figcaption :nth-child(3) :nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: -0.7px;
  text-decoration-line: line-through;
}
main .community {
  margin: 80px 370px 60px;
  display: flex;
  justify-content: center;
  gap: 5%;
  color: #000;
  font-family: Inter;
  font-style: normal;
  line-height: normal;
}
main .community .review .cate-name {
  font-family: Noto Sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -1.4px;
}
main .community .review .more {
  margin-bottom: 41px;
  text-align: right;
  font-weight: 400;
  cursor: pointer;
}
main .community .review .more span {
  font-size: 1rem;
  color: #BF7D2C;
}
main .community .review .list {
  margin-bottom: 20px;
}
main .community .review .list figure {
  display: flex;
  justify-content: inline-flex;
  align-items: start;
  border-bottom: 1px solid #E0E2E7;
}
main .community .review .list figure .pic {
  margin: 20px 0px;
  width: 120px;
  height: 120px;
  border: 1px solid #E0E2E7;
  margin: auto 0;
  display: block;
}
main .community .review .list figure .pic img {
  width: 100%;
}
main .community .review .list figure .desc {
  margin: 20px;
}
main .community .review .list figure .desc :nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.18px;
}
main .community .review .list figure .desc :nth-child(2) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 16px 0 14px;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
}
main .community .review .list figure .desc :nth-child(3) {
  margin-top: 0;
  color: #EAB838;
}
main .community .notice .cate-name {
  font-family: Noto Sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -1.4px;
}
main .community .notice .more {
  margin-bottom: 41px;
  text-align: right;
  font-weight: 400;
  cursor: pointer;
}
main .community .notice .more span {
  font-size: 1rem;
  color: #BF7D2C;
}
main .community .notice .list {
  width: 100%;
  margin-bottom: 20px;
}
main .community .notice .list figcaption {
  display: flex;
  justify-content: space-between;
  align-self: start;
  gap: 10%;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.18px;
  padding: 11px;
  border-bottom: 1px solid #E0E2E7;
}
main .community .notice .list figcaption :nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .community .notice .list figcaption :nth-child(2) {
  text-align: right;
}