.swal2-popup {
    width: 500px;
}

.swal2-border-radius {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
}

.swal2-button-radius {
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
    box-shadow: none !important;
    margin-bottom: 20px !important;
    width: 200px;
    height: 55px;
}

.swal2-container {
    z-index: 20000 !important;
}