@import url('./reset.css');
@import "_mixin";

// PC --시작
header {
    height: 132px;
    width: 100%;
    text-align: center;

    @include flex("center") {
        flex-direction: column;
        align-items: center;
    }

    :nth-child(1) {
        @include flex("space-between")
    }

    :nth-child(2) {
        @include flex("center")
    }
}

footer {
    height: 434px;
    width: 100%;
}

// PC -- 끝

@include res($tablet) {}

@include res($mobile) {}