$width : 1920px;

@mixin flex($n) {
    display: flex;
    justify-content: $n;
    @content
}

$mobile: 390px;
$pad: 768px;
$tablet: 1024px;
$desktop: 1280px;

@mixin res($n) {
    @if($n ==$mobile) {
        @media screen and (max-width:$mobile) {
            @content;
        }
    }

    @else if($n ==$pad) {
        @media (min-width:$mobile) and (max-width:$pad) {
            @content;
        }
    }

    @else if($n ==$tablet) {
        @media (min-width:$pad) and (max-width:$tablet) {
            @content;
        }
    }

    @else {
        @media screen and (min-width:$n) {
            @content;
        }
    }
}