@import "_common";


// PC --시작
main {
    // height: 100vh;

    .wine {
        margin: 80px 370px 0px;
        background: #FFF;

        @include flex(center) {
            flex-direction: column;
        }

        color: #000;
        text-align: center;
        font-style: normal;

        :nth-child(1) {
            font-family: Noto Sans;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: -1.4px;
        }

        :nth-child(2) {
            text-align: right;
            font-family: Inter;
            font-weight: 400;
            line-height: normal;

            span {
                font-size: 1rem;
                color: #BF7D2C;
            }
        }

        :nth-child(3) {
            margin: 41px 0px 60px;

            @include flex(space-between) {
                align-items: center;
                gap: 20px;
            }

            figure {
                padding: 20px 20px;
                width: 280px;
                height: 400px;
                border: 1px solid #E0E2E7;

                img {
                    width: 100%;
                    object-fit: cover;
                }

                font-family: Inter;
                font-style: normal;
                line-height: normal;

                figcaption {
                    display: flex;
                    flex-wrap: wrap;

                    :nth-child(1) {
                        color: rgba(0, 0, 0, 0.50);
                        font-size: 0.7rem;
                        font-weight: 300;
                        letter-spacing: -0.7px;
                    }

                    :nth-child(2) {
                        color: #000;
                        font-size: 1rem;
                        font-weight: 300;
                        letter-spacing: -0.9px;
                    }

                    :nth-child(3) {


                        :nth-child(1) {
                            color: #000;
                            font-size: 1.1rem;
                            font-weight: 700;
                            letter-spacing: -1px;
                        }

                        :nth-child(2) {
                            color: rgba(0, 0, 0, 0.50);
                            font-size: 0.7rem;
                            font-weight: 300;
                            letter-spacing: -0.7px;
                            text-decoration-line: line-through;
                        }
                    }
                }

            }

        }

    }

    // .beer {
    //     margin-top: 80px;
    //     background: #F7F8FA;
    // }

    // .soju {
    //     margin-top: 80px;
    //     background: #FFF;
    // }

    // .whisky {
    //     margin-top: 80px;
    //     background: #F7F8FA;
    // }
}

// PC -- 끝

@include res($tablet) {}

@include res($mobile) {}