@import "_common";


// PC --시작
main {

    // height: 100vh;
    .blist {
        background: #F7F8FA;
    }

    .ylist {
        background: #F7F8FA;
    }

    .wine {
        margin: 80px 370px 60px;
        color: #000;
        font-style: normal;

        .cate-name {
            text-align: center;
            font-family: Noto Sans;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: -1.4px;
        }

        .more {
            margin-bottom: 41px;
            text-align: right;
            font-family: Inter;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;

            span {
                font-size: 1rem;
                color: #BF7D2C;
            }
        }

        .swiper {
            overflow: hidden;

            .swiper-wrapper {
                @include flex(center) {
                    align-items: center;
                    gap: 10px;
                }

                .swiper-slide {
                    // width: 10%;
                    flex-shrink: 0;
                    margin: 0;
                    cursor: pointer;

                    padding: 20px;
                    width: 280px;
                    height: 400px;
                    border: 1px solid #E0E2E7;

                    img {
                        width: 240px;
                        height: 240px;
                        object-fit: cover;
                        margin-bottom: 16px;
                    }

                    font-family: Inter;
                    font-style: normal;
                    line-height: normal;

                    figcaption {
                        :nth-child(1) {
                            color: rgba(0, 0, 0, 0.50);
                            font-size: 0.7rem;
                            font-weight: 300;
                            letter-spacing: -0.7px;
                            margin-bottom: 8px;
                        }

                        :nth-child(2) {
                            color: #000;
                            font-size: 1rem;
                            font-weight: 300;
                            letter-spacing: -0.9px;
                            margin-bottom: 33px;

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        :nth-child(3) {
                            :nth-child(1) {
                                color: #000;
                                font-size: 1.1rem;
                                font-weight: 700;
                                letter-spacing: -1px;
                                margin-right: 10px;
                            }

                            :nth-child(2) {
                                color: rgba(0, 0, 0, 0.50);
                                font-size: 0.7rem;
                                font-weight: 300;
                                letter-spacing: -0.7px;
                                text-decoration-line: line-through;
                            }
                        }
                    }
                }
            }

        }
    }




}

// PC -- 끝

@include res($tablet) {}

@include res($mobile) {}