@import "_sub";

// PC --시작
main {
    width: 1180px;
    padding-top: 132px;
    margin: 0 auto;

    .list_bg {
        z-index: auto;
    }

    .list_title {
        margin: 74px 0;
        text-align: center;
    }

    .best5 {
        background-color: #F7F8FA;
        height: 724px;
        margin: 70px 0;
        p {
            text-align: left;
        }
    }

    .tab {
        padding: 10px 0;
        border-top: 1px solid #000;
        border-bottom: 1px solid #E0E2E7;
        font-size: 0.7rem;
        font-weight: bold;

        ul {
            display: flex;

            li {
                padding: 0 10px;
            }
        }
    }

    .list_items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 30px 0;

        figure {
            width: 280px;
            height: 400px;
            border: 1px solid #E0E2E7;
            margin: 53px 0;

            img {
                width: 240px;
                height: 240px;
            }
        }

        figcaption {
            margin: 0 20px;
            text-align: left;

            small,
            del {
                color: rgba(0, 0, 0, 0.50);
                font-size: 0.7rem;
            }

            p:nth-of-type(1) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p:nth-of-type(2) {
                font-size: 1.2rem;
                font-weight: bold;
                margin-top: 50px;
            }
        }
    }
}





// PC -- 끝

@include res($pad) {}

@include res($mobile) {}