@import "_sub";

// PC --시작

main {
    width: 1170px;
    padding-top: 200px;
    margin: 0 auto;

    .view_1 {
        width: 100%;
        height: 670px;
        display: flex;
        justify-content: space-between;

        //메인이미지, 서브이미지 
        .view_img_1 {
            width: 43%;
            display: flex;
            flex-direction: column;


            .view_main_img {
                border: 1px solid #E0E2E7;
                width: 100%;
            }

            .view_main_img:hover {
                transform: scale(1.2);
            }

            .view_sub_image {
                width: 70%;
                display: flex;

                width: 100%;
                margin-top: 20px;

                img {
                    border: 1px solid #E0E2E7;
                    width: 30%;
                    margin-right: 20px;

                }

            }
        }

        //제품 스펙
        .view_text {
            position: relative;
            width: 50%;
            color: #8C8D96;
            font-size: 18px;

            .view_text_1 {}

            #goods_name {
                font-size: 30px;
                line-height: 150%;
                font-weight: 400;
                color: black;
            }

            #line {
                border-bottom: 1px solid black;
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .goods_text {
                display: flex;
                justify-content: left;
                font-size: 18px;
                line-height: 180%;
                font-weight: 400;

                #text1 {
                    color: #8C8D96;
                }

                .view_text_2 {
                    margin-left: 60px;
                    font-weight: 400;
                    color: #000000;

                    #sale {
                        text-decoration: 1px line-through black;
                    }
                }


            }
            // 수량설정
            .text_box {
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: #F7F8FA;
                margin: 40px 0;
                color: #8C8D96;
                font-size: 14px;

                #text2 {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    color: #000000;
                    font-size: 18px;
                    font-weight: 800;

                    .input_text {
                        width: 85px;
                        height: 30px;
                        font-size: 18px;
                    }
                }
            }
            //구매하기 버튼
            .btn_buy {

                #text3 {

                    p {
                        color: #8C8D96;
                        font-size: 18px;
                        text-align: right;
                    }

                    b {
                        color: black;
                        font-size: 36px;
                        font-weight: bold;
                    }
                }

                #button1_location {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    .location {

                        .button1 {
                            width: 240px;
                            height: 47px;
                            color: white;
                            font-size: 14px;
                            font-weight: bold;
                            background-color: black;
                        }
                    }
                }
            }

        }
    }

    //상세, 후기 라인
    #goods_line {
        width: 100%;
        margin-top: 120px;
        display: flex;

        .goods_ex_line {
            text-align: center;
            width: 100%;
            border: 1px solid #8C8D96;
            border-width: 1px 1px 0 0;
            font-weight: bold;
            padding: 10px;
            font-size: 14px;

            &.active {
                text-align: center;
                width: 100%;
                border-width: 0 0 1px 0;
                font-weight: 400;
                padding: 10px;
                font-size: 14px;
            }
        }

        .goods_review_line {
            text-align: center;
            width: 100%;
            border: 1px solid #8C8D96;
            border-width: 0 0 1px 0;
            font-weight: 400;
            padding: 10px;
            font-size: 14px;

            &.active {
                text-align: center;
                width: 100%;
                border-width: 1px 0 0 1px;
                font-weight: bold;
                padding: 10px;
                font-size: 14px;
            }
        }
    }
    //제품상세
    .img_ex_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 40px;

        .img_ex {
            overflow: hidden;
            height: 2051px;

            img {
                width: 1179px;
            }
        }
        //펼치기
        .expand {
            width: 246px;
            height: 42px;
            background-color: black;

            p {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 25px;
            }

        }
        //접기
        .fold {
            display: none;
            width: 246px;
            height: 42px;
            background-color: black;

            p {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 25px;
            }

        }

    }


}


.menu-tab {

    font-size: 14px;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;

    @include flex(center);

    p {
        padding: 10px 0;
        width: 50%;
    }

    .menu-tab-01 {
        border-bottom: 1px solid black;
    }

    .menu-tab-02 {
        border: solid black;
        border-width: 1px 1px 0 1px;
        font-weight: 700;
    }
}



// PC -- 끝

@include res($pad) {
    main {
        width: 100%;
        padding-top: 200px;
        margin: 0 5px;

        .view_1 {
            height: 670px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;


            .view_img_1 {

                .view_main_img {
                    border: 1px solid #E0E2E7;
                    width: 80%;
                }

                .view_main_img:hover {
                    transform: scale(1);
                }

                .view_sub_image {
                    display: none;
                    width: 70%;
                    width: 100%;
                    margin-top: 20px;

                    img {
                        border: 1px solid #E0E2E7;
                        width: 30%;
                        margin-right: 20px;

                    }

                }
            }

            .view_text {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                color: #8C8D96;
                font-size: 18px;
                margin: 40px 0;

                .view_text_1 {}

                #goods_name {
                    font-size: 30px;
                    line-height: 150%;
                    font-weight: 400;
                    color: black;
                }

                #line {
                    border-bottom: 1px solid black;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }

                .goods_text {

                    font-size: 18px;
                    line-height: 180%;
                    font-weight: 400;

                    #text1 {
                        color: #8C8D96;
                    }

                    .view_text_2 {
                        margin-left: 60px;
                        font-weight: 400;
                        color: #000000;

                        #sale {
                            text-decoration: 1px line-through black;
                        }
                    }


                }

                .text_box {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    background-color: #F7F8FA;
                    margin: 40px 0;
                    color: #8C8D96;
                    font-size: 14px;

                    #text2 {
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        color: #000000;
                        font-size: 18px;
                        font-weight: 800;

                        .input_text {
                            width: 85px;
                            height: 30px;
                            font-size: 18px;
                        }
                    }
                }

                .btn_buy {

                    #text3 {
                        margin-bottom: 100px;

                        p {
                            color: #8C8D96;
                            font-size: 18px;
                            text-align: right;
                        }

                        b {
                            color: black;
                            font-size: 36px;
                            font-weight: bold;
                        }
                    }

                    #button1_location {



                        .location {

                            .button1 {
                                width: 240px;
                                height: 47px;
                                color: white;
                                font-size: 14px;
                                font-weight: bold;
                                background-color: black;
                            }
                        }
                    }
                }

            }
        }


        #goods_line {
            width: 80%;
            display: flex;
            justify-content: center;

            margin: 700px auto 0 auto;

            .goods_ex_line {
                text-align: center;
                width: 100%;
                border: 1px solid #8C8D96;
                border-width: 1px 1px 0 0;
                font-weight: bold;
                padding: 10px;
                font-size: 14px;

                &.active {
                    text-align: center;
                    width: 100%;
                    border-width: 0 0 1px 0;
                    font-weight: 400;
                    padding: 10px;
                    font-size: 14px;
                }
            }

            .goods_review_line {
                text-align: center;
                width: 100%;
                border: 1px solid #8C8D96;
                border-width: 0 0 1px 0;
                font-weight: 400;
                padding: 10px;
                font-size: 14px;

                &.active {
                    text-align: center;
                    width: 100%;
                    border-width: 1px 0 0 1px;
                    font-weight: bold;
                    padding: 10px;
                    font-size: 14px;
                }
            }
        }

        .img_ex_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
            margin-bottom: 40px;

            .img_ex {
                height: 100%;

                img {
                    width: 614px;
                    height: 100%;
                }
            }

            .expand {
                display: none;
                width: 246px;
                height: 42px;
                background-color: black;

                p {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 25px;
                }

            }

            .fold {
                display: none;
                width: 246px;
                height: 42px;
                background-color: black;

                p {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 25px;
                }

            }

        }

    }

}

@include res($mobile) {

    main {
        width: 100%;
        padding-top: 200px;
        margin: 0 auto;

        .view_1 {
            width: 100%;
            height: 670px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;


            .view_img_1 {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;


                .view_main_img {
                    border: 1px solid #E0E2E7;
                    width: 100%;
                }

                .view_main_img:hover {
                    transform: scale(1);
                }

                .view_sub_image {
                    width: 70%;
                    display: none;
                    width: 100%;
                    margin-top: 20px;

                    img {
                        border: 1px solid #E0E2E7;
                        width: 30%;
                        margin-right: 20px;

                    }

                }
            }

            .view_text {
                display: flex;
                flex-direction: column;
                width: 80%;
                color: #8C8D96;
                font-size: 18px;
                margin: 40px 0;

                .view_text_1 {}

                #goods_name {
                    font-size: 30px;
                    line-height: 150%;
                    font-weight: 400;
                    color: black;
                }

                #line {
                    border-bottom: 1px solid black;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }

                .goods_text {


                    font-size: 18px;
                    line-height: 180%;
                    font-weight: 400;

                    #text1 {
                        color: #8C8D96;
                    }

                    .view_text_2 {
                        margin-left: 60px;
                        font-weight: 400;
                        color: #000000;

                        #sale {
                            text-decoration: 1px line-through black;
                        }
                    }


                }

                .text_box {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    background-color: #F7F8FA;
                    margin: 40px 0;
                    color: #8C8D96;
                    font-size: 14px;

                    #text2 {
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        color: #000000;
                        font-size: 18px;
                        font-weight: 800;

                        .input_text {
                            width: 85px;
                            height: 30px;
                            font-size: 18px;
                        }
                    }
                }

                .btn_buy {

                    #text3 {
                        margin-bottom: 100px;

                        p {
                            color: #8C8D96;
                            font-size: 18px;
                            text-align: right;
                        }

                        b {
                            color: black;
                            font-size: 36px;
                            font-weight: bold;
                        }
                    }

                    #button1_location {



                        .location {

                            .button1 {
                                width: 240px;
                                height: 47px;
                                color: white;
                                font-size: 14px;
                                font-weight: bold;
                                background-color: black;
                            }
                        }
                    }
                }

            }
        }


        #goods_line {
            width: 80%;
            display: flex;
            justify-content: center;

            margin: 700px auto 0 auto;

            .goods_ex_line {
                text-align: center;
                width: 100%;
                border: 1px solid #8C8D96;
                border-width: 1px 1px 0 0;
                font-weight: bold;
                padding: 10px;
                font-size: 14px;

                &.active {
                    text-align: center;
                    width: 100%;
                    border-width: 0 0 1px 0;
                    font-weight: 400;
                    padding: 10px;
                    font-size: 14px;
                }
            }

            .goods_review_line {
                text-align: center;
                width: 100%;
                border: 1px solid #8C8D96;
                border-width: 0 0 1px 0;
                font-weight: 400;
                padding: 10px;
                font-size: 14px;

                &.active {
                    text-align: center;
                    width: 100%;
                    border-width: 1px 0 0 1px;
                    font-weight: bold;
                    padding: 10px;
                    font-size: 14px;
                }
            }
        }

        .img_ex_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
            margin-bottom: 40px;

            .img_ex {
                height: 100%;

                img {
                    width: 614px;
                    height: 100%;
                }
            }

            .expand {
                display: none;
                width: 246px;
                height: 42px;
                background-color: black;

                p {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 25px;
                }

            }

            .fold {
                display: none;
                width: 246px;
                height: 42px;
                background-color: black;

                p {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 25px;
                }

            }

        }

    }


}